body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.dropvandring {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 1em;
    cursor: pointer;
  }
  
  .dropcykel {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 1em;
    cursor: pointer;
  }
  
  .dropkanot {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 1em;
    cursor: pointer;
  }
  
  .verktyg {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 1em;
    cursor: pointer;
  }
  
  #menubar{
    width: 670px;
    position: absolute;
    display:inline-block;
    z-index: 1;
    padding-top: 5px;
    left: 50%;
    transform: translate(-50%,0);
  }

  .dropdown {
    position: relative;
    display:inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
  }

  img{
    object-fit: fill;

    
  }

  #legend{
    position: absolute;
    color: white;
    left:90%;
    border: solid;
    border-width: 1px;
    margin-top: 2em;
    z-index: 1;
    padding: 2px;
    
    
  }

  .box {
    position: relative;
    display:inline-block;
    height: 20px;
    width: 20px;
    border: 2px solid;
    padding: 2px;
    color:#eee
    
  }

  
  
  
  
  .dropdown-content input:hover {
    background-color: #959595;
  
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    border-radius: 1em;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .containerPopup input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .containerPopup {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #eee;
  }

  .checkmarkPopup {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #eee;
  }
  
  
  .container:hover input ~ .checkmark {
    background-color: rgb(142, 142, 142);
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #4CAF50;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .containerPopup:hover input ~ .checkmarkPopup {
    background-color: rgb(142, 142, 142);
  }
  
  /* When the checkbox is checked, add a blue background */
  .containerPopup input:checked ~ .checkmarkPopup {
    background-color: #000000;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmarkPopup:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .containerPopup input:checked ~ .checkmarkPopup:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .containerPopup .checkmarkPopup:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /*


    <div class="dropdown">
        <button class="dropcykel">Cykel/vandringsleder</button>


        <div class="dropdown-content">
            <input type="checkbox" value="11" onclick="visible(this)" checked>Etapp_Slinga_11</input>
            <input type="checkbox" value="12" onclick="visible(this)" checked>Etapp_Slinga_12</input>
        </div>



  */