@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
:root {
    --primary-color: #cfb53b;
    --secondary-color: #b76e79;
    --thirth-color: #f0ead6;
    --fourth-color: burlywood;
}
body {
    display: block;
    background: var(--thirth-color);

    color: var(--primary-color);
    margin: 0 0 0 1.34em;
    font-family: 'Poppins';
    span{
    color: var(--secondary-color); 
    }
}

.navbar{
   
    /* .img-default{
         width: 50px;
         height: 50px;
     }*/
     font-size: 1.34em;
     .container{
         display: flex;
         background-color: black;
         .logo{
             position: relative;
             cursor: pointer;
             li{
                 list-style: none;
             }
             span{
                 &:hover{
                     transition: 2s;
                 }
             }
             &:hover{
                 font-weight: bold;
             }
            
         }
         .left{
             display:  none;   //flex
             position: relative;
             right: 100%;    
                 
         }
         .right{
             display: none;  //flex
             position: relative;
             right: 0;
             margin: 0 25px 0 -25px; 
         }
         nav{
             display: flex;
             position: absolute;
             right: 0;
             
             li{
                 list-style: none;
                 margin: 0 25px 0 0;
                 &:hover{
                     font-weight: bold;
                 }
             }
         }
         a{
             text-decoration: none;
             color: var(--fourth-color);
         }
     }
}
#fo:hover ~ #ef {
    transition: 5s;
    text-decoration: underline;
    opacity: 100%;
}
#gz:hover ~ #ba {
    transition: 5s;
    text-decoration:underline;
    opacity: 100%;
}
#f2:hover ~ #ty {
    transition: 5s;
    text-decoration: line-through;
    opacity: 100%;
}
#sv:hover ~ #alr{
    transition: 5s;
    opacity: 100%;
    color: var(--secondary-color);
}
section.hero{
    display: none; //block
    height: 340px;
    color: var(--primary-color);
    font-size: 1.5em;
    span{
        
        color:black;
        &:hover{
            font-weight: bold;
        }
    }
    .butt-valk{
        color: black;
        border: none;
        background: url('/images/välkommen.jpg') no-repeat top left;
        height: 20px;
        width: 115px;
        margin-top: 25px;
        margin-bottom: -25px;
        position: relative; //relative
        
        
        &:hover{
            transition: 1s;
      
            background: url('/images/välkomment.jpg') no-repeat top left;
        }
    }
    .container{
        display: inline-flex;

        .hidethesecl{
            display:none; //block
            .nvar{
                display: block;
                position: absolute;
                left: 20px;
                top: 80px;
                
            }
            .awdd{
                display: block;
                position: absolute;
                margin-left: 20px;
                top: 80px;
                opacity: 0%;  
            }
        }
        .hidethesec2{
            display:none; //block
            .intre{
                display: block;
                position: absolute;
                left: 20px;
                top: 120px;
            }
            .arkite{
                display: block;
                position: absolute;
                margin-left: 20px;
                top: 120px; 
                opacity: 0%;  
            }
        }
        .hidethesec3{
            display:none; //block
            .ödmjuki{
                display: block;
                position: absolute;
                left: 20px;
                top: 160px;
            }
            .misstagi{
                display: block;
                position: absolute;
                margin-left: 20px;
                top: 160px; 
                opacity: 0%;  
            }
        }
        .hidethesec4{


            display: none; //block
            .answer{
                display: block; 
                position: absolute;
                left: 20px;
                top: 200px; 
                
            } 
           .arli{
                display: block;
                position: absolute;
                margin-left: 20px;
                top: 200px;
                opacity: 0%;
                &:hover{
                    transition: 3s;
                    color: var(--secondary-color)
                }
                
            }
        }
        .hero-img{
            display: none; //block
            position: absolute;
            height: 30%;
            width: 30%;
            right: 0;
            opacity: 5%;
            &:hover{
                transition: 3.14s;
                opacity: 100%;
              }
        }

  
        
    }
   

    .passcheck{
        border-color: whitesmoke;
        color: var(--secondary-color);
        position: absolute;
        right: 198px;
        top: 360px;
        display: none; //block
    }
   

  
    .butt-passcheck{
        position: absolute;
        right: 135px;
        top: 359px; 
        width: 25px;
        height: 25px;
        background-color: var(--secondary-color);
        border-radius: 50%;
        display: none; //block
    }

   h1{
       color: Black;
       &:hover{
           transition: 1s;
           color: white;
        }
   }
}






#a:hover ~ #b {
    transition: 2s;
    background: var(--secondary-color);
}
#c:hover ~ #d {
    transition: 2s;
    background: purple;
}
#e:hover ~ #f {
    transition: 2s;
    background: blue;
}
#g:hover ~ #h {
    transition: 2s;
    background: darkcyan;
}
#i:hover ~ #j {
    transition: 2s;
    background: red;
}
#k:hover ~ #l {
    transition: 2s;
    background: black;
}
.Tooltip { 
        position: flex;
        display: block;
        //border-bottom: 1px dotted black;
    .engaTooltext  {
            visibility: hidden;
            width: 120px;
            background-color: var(--thirth-color);
            color: burlywood;
            font-weight: bold;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
          
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
            top: 480px;
            left: 600px;
            
            }

            &:hover .engaTooltext{
              visibility: visible;

            }

    }
   

cite{
    &:hover{
        color:blue;
    }
}
/*
#AB:hover ~ #BA{
    transition: 2s;
    font-weight: bold;
    font-size: 1.3em;
}
#AB:hover ~ #BC{
    transition: 2s;
    transition-delay: 1s;
    font-size: 1.3em;
    font-weight: bold;
}
#AB:hover ~ #q3{
    transition: 2s;
    transition-delay: 2s;
    font-size: 1.3em;
    font-weight: bold;
}
#AB:hover ~ #q4{
    transition: 2s;
    transition-delay: 3s;
    font-size: 1.3em;
    font-weight: bold;
}
#AB:hover ~ #q5{
    transition: 2s;
    transition-delay: 4s;
    font-size: 1.3em;
    font-weight: bold;
}
#AB:hover ~ #q6{
    transition: 2s;
    transition-delay: 5s;
    font-size: 1.3em;
    font-weight: bold;
}
#AB:hover ~ #q7{
    transition: 2s;
    transition-delay: 6s;
    font-size: 1.3em;
    font-weight: bold;
}
#AB:hover ~ #q8{
    transition: 2s;
    transition-delay: 7s;
    font-size: 1.3em;
    font-weight: bold;
}
#AB:hover ~ #q9{
    transition: 2s;
    transition-delay: 8s;
    font-size: 1.3em;
    font-weight: bold;
}
#AB:hover ~ #q10{
    transition: 2s;
    transition-delay: 9s;
    font-size: 1.3em;
    font-weight: bold;
}
#AB:hover ~ #q11{
    transition: 2s;
    transition-delay: 10s;
    font-size: 1.3em;
    font-weight: bold;
}
#AB:hover ~ #q12{
    transition: 2s;
    transition-delay: 11s;
    font-size: 1.3em;
    font-weight: bold;
}
#AB:hover ~ #q13{
    transition: 2s;
    transition-delay: 12s;
    font-size: 1.3em;
    font-weight: bold;
}

*/
blockquote{

    .q1{
        color: white;
        &:hover{
        transition: 1.5s;
        color:var(--secondary-color);
        font-weight: bold;
        
        }
        
    }
    .q2{
        color: white;
        &:hover{
        transition-delay: 1.5s;
        transition: 1.5s;
        color:var(--secondary-color);
        font-weight: bold;
        }
    }
    .q3{
        color: black;
    }
    .q4{
        color: black;
    }
    .q5{
        color: black;
    }
    .q6{
        color: black;
    }
    .q7{
        color: black;
    }
    .q8{
        color: black;
    }
    .q9{
        color: black;
    }
    .q10{
        color: black;
    }
    .q11{
        color: black;
    }
    .q12{
        color: black;
    }
    .q13{
        color: black;
    }
}


section.thesix{
    display: none; //block
    background-color: whitesmoke;
    height: 150px;
    .stylethishoe {
        background-color: black;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position: absolute;
        left: 100px;
        top: 300px;
    }
    .square {
        display: block;
        position: absolute;
        height: 150px;
        width: 75px;
        margin-left: 3.14px;
        border-bottom-left-radius: 90%;
        border-top-right-radius: 90%;
        background-color: var(--primary-color);
        .circle {
            display: block;
            position: absolute;
            left: 3.34px;
            top: 1.34px;
            height: 9px;
            width: 9px;
            background-color: whitesmoke;
            border-radius: 50%;
           
          }
          .circle2 {
            display: block;
            position: absolute;
            left: 16.34px;
            top: 37px;
            height: 9px;
            width: 9px;
            background-color: whitesmoke;
            border-radius: 50%;
          }
          .circle3 {
            display: block;
            position: absolute;
            left: 55.34px;
            top: 80.34px;
            height: 9px;
            width: 9px;
            background-color: whitesmoke;
            border-radius: 50%;
          }
          .circle4 {
            display: block;
            position: absolute;
            left: 22.34px;
            top: 80.34px;
            height: 9px;
            width: 9px;
            background-color: whitesmoke;
            border-radius: 50%;
          }
          .circle5 {
            display: block;
            position: absolute;
            left: 45.34px;
            top: 45.34px;
            height: 9px;
            width: 9px;
            background-color: whitesmoke;
            border-radius: 50%;
          }
          .circle6 {
            display: block;
            position: absolute;
            left: 60px;
            top: 134px;
            height: 9px;
            width: 9px;
            background-color: whitesmoke;
            border-radius: 50%;
          }
      }

  ul {  
    list-style-type: none;
    text-align: center;
    .buttontoClick{
        display: block;
        background-color: whitesmoke;
        border: none;
        position: absolute;
        height: 9px;
        width: 9px;
        border-radius: 50%;
        margin: 0;
        padding: 0;
        left: 4.5em;  
    }
    .buttontoClick2{
        display: block;
        background-color: whitesmoke;
        border: none;
        position: absolute;
        height: 9px;
        width: 9px;
        border-radius: 50%;
        margin: 0;
        padding: 0;
        left: 2.5em;  
    }
    .buttontoClick5{
        display: block;
        background-color: whitesmoke;
        border: none;
        position: absolute;
        height: 9px;
        width: 9px;
        border-radius: 50%;
        top: 510px;
        padding: 0;
        left: 4.2em;  
    }
    .buttontoClick4{
        display: block;
        background-color: whitesmoke;
        border: none;
        position: absolute;
        height: 9px;
        width: 9px;
        border-radius: 50%;
        margin: 0;
        padding: 0;
        top: 510px;
        left: 6.3em;  
    }
    .buttontoClick7{
        display: block;
        background-color: whitesmoke;
        border: none;
        position: absolute;
        height: 9px;
        width: 9px;
        border-radius: 50%;
        margin: 0;
        padding: 0;
        top: 440px;
        left: 3.7em;  
    }
    .buttontoClick55{
        display: block;
        background-color: whitesmoke;
        border: none;
        position: absolute;
        height: 9px;
        width: 9px;
        border-radius: 50%;
        margin: 0;
        padding: 0;
        top: 400px;
        left: 3.7em;  
    }

    .li{
        display: block;
        color: var(--primary-color);
    }

  }
  
 
  ul li:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../images/Checkmark.jpg");
    background-size: contain;
    border-radius: 50%;
    margin-top: 3.14px;
    margin-left: -1.5em;
  }
  
  ul li:hover {
    font-weight: bold;
  }
  
}

section.citat{
    display: none; //block
    
    img {
        width: 5em;
        height: 7em;
        border: 5px solid var(--thirth-color);
        border-radius: 50%;
        margin-top: -3.14em;
       
        &:hover{
            
            transition-delay: 1s;
            border: 5px solid var(--secondary-color);
            transition: 1.5s;
        }
      }
   
      li {
          list-style-type: none;
        background: var(--primary-color);
        color: whitesmoke;
        text-align: center;
        padding: 2em 1em;
        width: 80%;
        margin: 0 auto 0 auto;
        border-radius: 1em;
      }
    
}
#stairspic:hover ~ #couchpic{
    transition: 5s;
    width: 550px;
    height: 330px;

}
#couchpic:hover ~ #stairspic2{
    transition: 5s;
    visibility: visible;
    width: 550px;
    height: 330px;
   
    
}

section.trappasta{
    display: none; //block
    
    .couch{
        width: 50px;
        height: 50px;
        position: absolute;
        right: 1%;
        
    }
    .stairs{
        width: 50px;
        height: 50px;
        position: relative;
        
        //visibility: hidden;
    }

    .stairs2{
        width:50px;
        height: 50px;
        position: absolute;
        left: 20px;
        visibility: hidden;
    }
}

section.contact{
    display: none; //block
    position: absolute;
    text-align: center;
    width: 450px;
    height: 300px;
    left: 35%;
    top: 800px;
   
   h1{
       color: var(--primary-color);
      
       &:hover{
           color: var(--thirth-color);
           transition: 2s;
       }
   }
label {
    
    display: block;
}
input, textarea {
    color: var(--primary-color);
    width: 100%;
    box-sizing: border-box;
    border: 5px solid black;
    


}
input[type="submit"]{
    color: green;
    background-color: black;
    border: none;
    cursor:pointer;
}

}



.ending{
    background-color: black;
    color: var(--fourth-color);
}